In [ ]:
import pandas as pd
df = pd.read_csv('C:/Project Entri/ipl_dataset.csv.csv')

print("First 5 rows of the dataset:")
display(df.head())

print("\nDataset Info:")
df.info()
print(f"\nShape of the dataset: {df.shape}")

print("\nMissing values in each column:")
print(df.isnull().sum())

print("\nUnique values in each column:")
for col in df.columns:
    print(f"{col}: {df[col].nunique()}")

print("\nStatistical summary:")
display(df.describe())
print("\nColumn names:")
print(df.columns.tolist())

C:\Users\ACER\AppData\Local\Temp\ipykernel_17320\927472448.py:2: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Project Entri/ipl_dataset.csv.csv')

First 5 rows of the dataset:

,ID_x,Innings,Overs,BallNumber,Batter,Bowler,NonStriker,ExtraType,BatsmanRun,ExtrasRun,...,battingName,fieldingName,imgUrl,dob,battingStyles,longBattingStyles,bowlingStyles,longBowlingStyles,playingRoles,espn_url
0,829711,1,0,1,DR Smith,B Kumar,BB McCullum,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,829711,1,0,2,DR Smith,B Kumar,BB McCullum,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,829711,1,0,3,DR Smith,B Kumar,BB McCullum,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,829711,1,0,4,DR Smith,B Kumar,BB McCullum,NaN,4,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,829711,1,0,5,DR Smith,B Kumar,BB McCullum,NaN,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260920 entries, 0 to 260919
Data columns (total 42 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ID_x               260920 non-null  int64
 1   Innings            260920 non-null  int64
 2   Overs              260920 non-null  int64
 3   BallNumber         260920 non-null  int64
 4   Batter             260920 non-null  object
 5   Bowler             260920 non-null  object
 6   NonStriker         260920 non-null  object
 7   ExtraType          14125 non-null   object
 8   BatsmanRun         260920 non-null  int64
 9   ExtrasRun          260920 non-null  int64
 10  TotalRun           260920 non-null  int64
 11  IsWicketDelivery   260920 non-null  int64
 12  PlayerOut          12950 non-null   object
 13  Kind               12950 non-null   object
 14  FieldersInvolved   9354 non-null    object
 15  BattingTeam        260920 non-null  object
 16  team1              260920 non-null  object
 17  team2              260920 non-null  object
 18  match_date         260920 non-null  object
 19  toss_winner        260920 non-null  object
 20  toss_decision      260920 non-null  object
 21  result             260920 non-null  object
 22  eliminator         3634 non-null    object
 23  winner             256796 non-null  object
 24  player_of_match    260920 non-null  object
 25  venue              260920 non-null  object
 26  city               248523 non-null  object
 27  team1_players      260920 non-null  object
 28  team2_players      260920 non-null  object
 29  ID_y               129027 non-null  float64
 30  Name               129027 non-null  object
 31  longName           129027 non-null  object
 32  battingName        129027 non-null  object
 33  fieldingName       129027 non-null  object
 34  imgUrl             129027 non-null  object
 35  dob                129027 non-null  object
 36  battingStyles      129027 non-null  object
 37  longBattingStyles  129027 non-null  object
 38  bowlingStyles      129027 non-null  object
 39  longBowlingStyles  129027 non-null  object
 40  playingRoles       107676 non-null  object
 41  espn_url           129027 non-null  object
dtypes: float64(1), int64(8), object(33)
memory usage: 83.6+ MB

Shape of the dataset: (260920, 42)

Missing values in each column:
ID_x                      0
Innings                   0
Overs                     0
BallNumber                0
Batter                    0
Bowler                    0
NonStriker                0
ExtraType            246795
BatsmanRun                0
ExtrasRun                 0
TotalRun                  0
IsWicketDelivery          0
PlayerOut            247970
Kind                 247970
FieldersInvolved     251566
BattingTeam               0
team1                     0
team2                     0
match_date                0
toss_winner               0
toss_decision             0
result                    0
eliminator           257286
winner                 4124
player_of_match           0
venue                     0
city                  12397
team1_players             0
team2_players             0
ID_y                 131893
Name                 131893
longName             131893
battingName          131893
fieldingName         131893
imgUrl               131893
dob                  131893
battingStyles        131893
longBattingStyles    131893
bowlingStyles        131893
longBowlingStyles    131893
playingRoles         153244
espn_url             131893
dtype: int64

Unique values in each column:
ID_x: 1095
Innings: 2
Overs: 20
BallNumber: 11
Batter: 673
Bowler: 530
NonStriker: 663
ExtraType: 8
BatsmanRun: 7
ExtrasRun: 7
TotalRun: 8
IsWicketDelivery: 2
PlayerOut: 629
Kind: 10
FieldersInvolved: 1048
BattingTeam: 19
team1: 19
team2: 19
match_date: 823
toss_winner: 19
toss_decision: 2
result: 3
eliminator: 7
winner: 19
player_of_match: 292
venue: 58
city: 36

In [ ]:
# Required colms
columns_to_keep = [
    'Innings','ID_x', 'Overs', 'BallNumber',
    'Batter', 'longName', 'Bowler', 'NonStriker',
    'BatsmanRun', 'ExtrasRun', 'TotalRun', 'IsWicketDelivery',
    'PlayerOut', 'Kind', 'FieldersInvolved',
    'BattingTeam', 'team1', 'team2', 'match_date',
    'toss_winner', 'toss_decision', 'winner',
    'player_of_match', 'venue', 'city'
]

In [22]:
# Drop unwanted colms
columns_to_drop = [col for col in df.columns if col not in columns_to_keep]
df.drop(columns=columns_to_drop, inplace=True)
print("After dropping unwanted columns:", df.shape)

After dropping unwanted columns: (260920, 25)

In [23]:
# Standardizing text
text_columns = ['Batter', 'longName', 'Bowler', 'NonStriker', 'PlayerOut', 'Kind',
                'FieldersInvolved', 'BattingTeam', 'team1', 'team2', 'toss_winner',
                'toss_decision', 'winner', 'player_of_match', 'venue', 'city']

for col in text_columns:
    df[col] = df[col].astype(str).str.strip().str.title()
    
# Standardize venue names
venue_map = {
    'Arun Jaitley Stadium, Delhi': 'Arun Jaitley Stadium',
    'Brabourne Stadium, Mumbai': 'Brabourne Stadium',
    'Dr Dy Patil Sports Academy, Mumbai': 'Dr Dy Patil Sports Academy',
    'Dr. Y.S. Rajasekhara Reddy Aca-Vdca Cricket Stadium, Visakhapatnam': 'Dr. Y.S. Rajasekhara Reddy Aca-Vdca Cricket Stadium',
    'Eden Gardens, Kolkata': 'Eden Gardens',
    'Feroz Shah Kotla': 'Arun Jaitley Stadium',
    'Himachal Pradesh Cricket Association Stadium, Dharamsala': 'Himachal Pradesh Cricket Association Stadium',
    'M Chinnaswamy Stadium, Bengaluru': 'M Chinnaswamy Stadium',
    'M.Chinnaswamy Stadium': 'M Chinnaswamy Stadium',
    'Ma Chidambaram Stadium, Chepauk': 'Ma Chidambaram Stadium',
    'Ma Chidambaram Stadium, Chepauk, Chennai': 'Ma Chidambaram Stadium',
    'Punjab Cricket Association Is Bindra Stadium': 'Punjab Cricket Association Stadium, Mohali',
    'Punjab Cricket Association Is Bindra Stadium, Mohali': 'Punjab Cricket Association Stadium, Mohali',
    'Punjab Cricket Association Is Bindra Stadium, Mohali, Chandigarh': 'Punjab Cricket Association Stadium, Mohali',
    'Rajiv Gandhi International Stadium, Uppal': 'Rajiv Gandhi International Stadium',
    'Rajiv Gandhi International Stadium, Uppal, Hyderabad': 'Rajiv Gandhi International Stadium',
    'Sawai Mansingh Stadium, Jaipur': 'Sawai Mansingh Stadium',
    'Wankhede Stadium, Mumbai': 'Wankhede Stadium'
}

df['venue'] = df['venue'].replace(venue_map)

In [24]:
# Normalizing team names
team_name_map = {
    'Rcb': 'Royal Challengers Bangalore',
    'Royal Challengers Bengaluru': 'Royal Challengers Bangalore',
    'Mi': 'Mumbai Indians',
    'Dc': 'Delhi Capitals',
    'Dd': 'Delhi Daredevils',
    'Kxip': 'Punjab Kings',
    'Kings Xi Punjab': 'Punjab Kings',
    'Pbks': 'Punjab Kings',
    'Srh': 'Sunrisers Hyderabad',
    'Rr': 'Rajasthan Royals',
    'Kkr': 'Kolkata Knight Riders',
    'Csk': 'Chennai Super Kings',
    'Gt': 'Gujarat Titans',
    'Gl': 'Gujarat Lions',
    'Pune Warriors': 'Rising Pune Supergiant',
    'Rising Pune Supergiants': 'Rising Pune Supergiant',
    'Rising Pune Supergiant': 'Rising Pune Supergiant',
    'Deccan Chargers': 'Deccan Chargers'
}

for col in ['BattingTeam', 'team1', 'team2', 'toss_winner', 'winner']:
    df[col] = df[col].replace(team_name_map)

# selecting only the active teams
active_teams = [
    'Chennai Super Kings', 'Delhi Capitals', 'Gujarat Titans',
    'Kolkata Knight Riders', 'Lucknow Super Giants', 'Mumbai Indians',
    'Punjab Kings', 'Rajasthan Royals', 'Royal Challengers Bangalore',
    'Sunrisers Hyderabad'
]

df = df[
    df['team1'].isin(active_teams) &
    df['team2'].isin(active_teams) &
    df['BattingTeam'].isin(active_teams) &
    df['toss_winner'].isin(active_teams) &
    df['winner'].isin(active_teams)
]

In [25]:
# changing to date time
df['match_date'] = pd.to_datetime(df['match_date'], errors='coerce')

In [26]:
# Dropping the missing rows
df.dropna(subset=['team1', 'team2', 'winner', 'player_of_match', 'BattingTeam'], inplace=True)

In [27]:
# Replacing Nan
df.replace(['Nan', 'nan', 'NaN'], pd.NA, inplace=True)
df['PlayerOut'] = df['PlayerOut'].fillna('Not out')
df['Kind'] = df['Kind'].fillna('None')
df['FieldersInvolved'] = df['FieldersInvolved'].fillna('None')

# dropping rows of missinfg winner data
df.dropna(subset=['winner'], inplace=True)
df['longName'] = df['longName'].fillna('Unknown')
# dropping N values in the winner column
# Convert 'N' in 'winner' to NaN so it can be dropped
df['winner'].replace('N', pd.NA, inplace=True)
df.dropna(subset=['winner'], inplace=True)
#city missing values cahnging to unknown
df['city'] = df['city'].fillna('Unknown')

C:\Users\ACER\AppData\Local\Temp\ipykernel_17320\2714140450.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['winner'].replace('N', pd.NA, inplace=True)

In [28]:
# saving the data
df.to_csv("C:/Project Entri/Pre_processed_ipl_data.csv", index=False)
print(df.head())
print(df.isnull().sum())
print(df['team1'].unique())

     ID_x  Innings  Overs  BallNumber    Batter   Bowler   NonStriker  \
0  829711        1      0           1  Dr Smith  B Kumar  Bb Mccullum
1  829711        1      0           2  Dr Smith  B Kumar  Bb Mccullum
2  829711        1      0           3  Dr Smith  B Kumar  Bb Mccullum
3  829711        1      0           4  Dr Smith  B Kumar  Bb Mccullum
4  829711        1      0           5  Dr Smith  B Kumar  Bb Mccullum

   BatsmanRun  ExtrasRun  TotalRun  ...                team1  \
0           0          0         0  ...  Chennai Super Kings
1           0          0         0  ...  Chennai Super Kings
2           0          0         0  ...  Chennai Super Kings
3           4          0         4  ...  Chennai Super Kings
4           0          0         0  ...  Chennai Super Kings

                 team2 match_date          toss_winner toss_decision  \
0  Sunrisers Hyderabad 2015-04-11  Chennai Super Kings           Bat
1  Sunrisers Hyderabad 2015-04-11  Chennai Super Kings           Bat
2  Sunrisers Hyderabad 2015-04-11  Chennai Super Kings           Bat
3  Sunrisers Hyderabad 2015-04-11  Chennai Super Kings           Bat
4  Sunrisers Hyderabad 2015-04-11  Chennai Super Kings           Bat

                winner player_of_match                   venue     city  \
0  Chennai Super Kings     Bb Mccullum  Ma Chidambaram Stadium  Chennai
1  Chennai Super Kings     Bb Mccullum  Ma Chidambaram Stadium  Chennai
2  Chennai Super Kings     Bb Mccullum  Ma Chidambaram Stadium  Chennai
3  Chennai Super Kings     Bb Mccullum  Ma Chidambaram Stadium  Chennai
4  Chennai Super Kings     Bb Mccullum  Ma Chidambaram Stadium  Chennai

  longName
0  Unknown
1  Unknown
2  Unknown
3  Unknown
4  Unknown

[5 rows x 25 columns]
ID_x                0
Innings             0
Overs               0
BallNumber          0
Batter              0
Bowler              0
NonStriker          0
BatsmanRun          0
ExtrasRun           0
TotalRun            0
IsWicketDelivery    0
PlayerOut           0
Kind                0
FieldersInvolved    0
BattingTeam         0
team1               0
team2               0
match_date          0
toss_winner         0
toss_decision       0
winner              0
player_of_match     0
venue               0
city                0
longName            0
dtype: int64
['Chennai Super Kings' 'Mumbai Indians' 'Punjab Kings'
 'Kolkata Knight Riders' 'Sunrisers Hyderabad'
 'Royal Challengers Bangalore' 'Rajasthan Royals' 'Lucknow Super Giants'
 'Gujarat Titans' 'Delhi Capitals']